# WeathPy Challenge Part 2  
Vacation_Search.ipynb

### Retrieve Cities set

In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np

In [2]:
city_weather_file = 'weather_data\WeatherPy_challenge.csv'

# read back prepared city list
city_data_df = pd.read_csv(city_weather_file)
city_data_df.head(2)

,City_ID,City,Country,Date,Lat,Lng,Weather,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Parana,AR,2020-02-22 06:33:45,-31.73,-60.52,clear sky,62.01,63.00,68,0,4.0,0.0,0.000000
1,1,Krasnosel'kup,RU,2020-02-22 06:33:45,65.70,82.47,light snow,6.21,6.21,94,99,13.4,0.0,0.005118

### Preferred Cities Selections

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 60

In [4]:
input_return = input("Do you want it to be raining? (yes/no) ")
is_rain = (input_return.lower() == "yes")

Do you want it to be raining? (yes/no) no

In [5]:
input_return = input("Do you want it to be snowing? (yes/no) ")
is_snow = (input_return.lower() == "yes")

Do you want it to be snowing? (yes/no) no

In [6]:
print(f"Your preferred city temperatures are between {min_temp} and {max_temp} Fahrenheit.")
if (is_rain and is_snow):
    print(f"You want the weather to be either raining or snowing.")
elif is_rain:
    print(f"You want the weather to be raining.")        
elif is_snow:
    print(f"You want the weather to be snowing.")
else:
    print(f"You want the weather to be neither raining, nor snowing.")

Your preferred city temperatures are between 40.0 and 60.0 Fahrenheit.
You want the weather to be neither raining, nor snowing.

### filter

In [7]:
# temperature selection series (boolean)
temp_selected = (city_data_df["Min Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)

In [8]:
# rain / snow selection series (boolean)
if (is_rain and is_snow):
    rain_snow_selected = (city_data_df["Rain"] > 0.0) | (city_data_df["Snow"] > 0.0)
elif is_rain:
    rain_snow_selected = (city_data_df["Rain"] > 0.0)
elif is_snow:
    rain_snow_selected = (city_data_df["Snow"] > 0.0)
else:
    rain_snow_selected = (city_data_df["Rain"] <= 0.0) & (city_data_df["Snow"] <= 0.0)
rain_snow_selected[:3]

0     True
1    False
2     True
dtype: bool

In [9]:
# combine temperature selection and rain_snow selection, create preferred cities
preferred_cities_df = city_data_df.loc[temp_selected & rain_snow_selected]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Weather,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
4,4,Ushuaia,AR,2020-02-22 06:33:45,-54.80,-68.30,scattered clouds,55.40,55.40,76,40,17.22,0.0,0.0
7,7,Kaitangata,NZ,2020-02-22 06:33:46,-46.28,169.85,few clouds,55.99,55.99,52,16,10.00,0.0,0.0
9,9,Bluff,NZ,2020-02-22 06:33:46,-46.60,168.33,few clouds,55.00,55.00,61,12,13.00,0.0,0.0
12,12,Baharly,TM,2020-02-22 06:33:47,38.44,57.43,few clouds,52.30,52.30,63,20,13.89,0.0,0.0
20,20,Tuatapere,NZ,2020-02-22 06:33:48,-46.13,167.68,few clouds,55.00,55.00,61,24,13.00,0.0,0.0
28,28,Yima,CN,2020-02-22 06:33:49,34.74,111.88,clear sky,56.80,56.80,19,0,10.69,0.0,0.0
30,30,Chui,UY,2020-02-22 06:33:50,-33.70,-53.46,scattered clouds,59.47,59.47,66,41,11.72,0.0,0.0
56,56,Bulnes,CL,2020-02-22 06:33:55,-36.74,-72.30,clear sky,55.40,57.20,87,0,4.70,0.0,0.0
61,61,Ribeira Grande,PT,2020-02-22 06:33:56,38.52,-28.70,overcast clouds,56.73,56.73,83,88,5.59,0.0,0.0
66,66,Kiryat Gat,IL,2020-02-22 06:33:57,31.61,34.76,scattered clouds,46.00,53.60,87,40,12.75,0.0,0.0

In [10]:
preferred_cities_df.count()

City_ID       68
City          68
Country       68
Date          68
Lat           68
Lng           68
Weather       68
Min Temp      68
Max Temp      68
Humidity      68
Cloudiness    68
Wind Speed    68
Rain          68
Snow          68
dtype: int64

## Create hotel DataFrame

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Weather", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(2)

         City Country           Weather  Max Temp    Lat     Lng Hotel Name
4     Ushuaia      AR  scattered clouds     55.40 -54.80  -68.30
7  Kaitangata      NZ        few clouds     55.99 -46.28  169.85

### GMaps Search hotels
one hotel is kept

In [12]:
# Dependencies and Setup
import requests
import gmaps
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#### another way to parse: convert json to df  
df = pd.json_normalize(hotels['results'])  
df.head(2)

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Print the beginning of the logging.
print("-----------------------------")
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the city for log.
    city = hotel_df.loc[index, "City"]
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"{city} Hotel not found... skipping.")
    except:
        print(f"{city} Other Errors... skipping.")

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Beginning Data Retrieval
-----------------------------
Baharly Hotel not found... skipping.
Trapani Hotel not found... skipping.
Tiznit Hotel not found... skipping.
Wilayat-e Zabul Hotel not found... skipping.
Yumen Hotel not found... skipping.
Abu Samrah Hotel not found... skipping.
Sidi Ali Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [14]:
hotel_df.count()

City          68
Country       68
Weather       68
Max Temp      68
Lat           68
Lng           68
Hotel Name    68
dtype: int64

In [15]:
hotel_df.head(2)

,City,Country,Weather,Max Temp,Lat,Lng,Hotel Name
4,Ushuaia,AR,scattered clouds,55.40,-54.80,-68.30,Albatros Hotel
7,Kaitangata,NZ,few clouds,55.99,-46.28,169.85,Kaitangata Motor Camp

### GMap with pop-up marker layer

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather} and {Max Temp}Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a pop-up marker layer for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Save hotel DataFrame
formatted to be similar to sample

In [18]:
# rename weather to be "Current Descrition"
hotel_df.rename(columns = {'Weather':'Current Description'}, inplace = True) 

# match the column order
new_column_order = ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]

hotel_df = hotel_df[new_column_order]
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Ushuaia,AR,55.40,scattered clouds,-54.80,-68.30,Albatros Hotel
7,Kaitangata,NZ,55.99,few clouds,-46.28,169.85,Kaitangata Motor Camp
9,Bluff,NZ,55.00,few clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
12,Baharly,TM,52.30,few clouds,38.44,57.43,
20,Tuatapere,NZ,55.00,few clouds,-46.13,167.68,Ron and Tony's Bed & Breakfast

#### save in csv

In [19]:
# save in csv
hotel_df.to_csv("weather_data\WeatherPy_vacation.csv", index_label="City_ID")