# Chanllenge Part 3, Travel Itinerary

### Retrieve Vacation Cities set

In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np

In [2]:
# read back prepared city list
hotel_df = pd.read_csv("weather_data\WeatherPy_vacation.csv")
hotel_df.head(2)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Ushuaia,AR,55.40,scattered clouds,-54.80,-68.30,Albatros Hotel
1,7,Kaitangata,NZ,55.99,few clouds,-46.28,169.85,Kaitangata Motor Camp

In [3]:
import gmaps
import gmaps.datasets
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# gmaps with a marker layer for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### choose visiting cities.

In [5]:
# these are the visiting cities
visiting_cities = ["Lompoc", "Chino Valley", "Safford", "Del Rio"]
visiting_cities

['Lompoc', 'Chino Valley', 'Safford', 'Del Rio']

### Create visiting cities DataFrame

In [6]:
visiting_cities_df = hotel_df.loc[hotel_df["City"] == visiting_cities[0]]
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[1]])
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[2]])
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[3]])
visiting_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,336,Lompoc,US,57.99,overcast clouds,34.64,-120.46,Holiday Inn Express Lompoc
41,397,Chino Valley,US,55.00,clear sky,34.76,-112.45,Primrose Inn & Suites
21,195,Safford,US,53.60,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
10,69,Del Rio,US,50.00,clear sky,29.36,-100.90,Holiday Inn Express & Suites del Rio

In [7]:
visiting_cities_df.reset_index(inplace=True, drop=True)
visiting_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,336,Lompoc,US,57.99,overcast clouds,34.64,-120.46,Holiday Inn Express Lompoc
1,397,Chino Valley,US,55.00,clear sky,34.76,-112.45,Primrose Inn & Suites
2,195,Safford,US,53.60,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
3,69,Del Rio,US,50.00,clear sky,29.36,-100.90,Holiday Inn Express & Suites del Rio

## Vacation Travel Directional Map

In [8]:
def get_visiting_city_coord(idx):
    return (visiting_cities_df.at[idx, "Lat"], visiting_cities_df.at[idx, "Lng"])

start = get_visiting_city_coord(0)
waypoints = [get_visiting_city_coord(1), get_visiting_city_coord(2)]
end = get_visiting_city_coord(3)
print(f"start: {start}")
print(f"waypoints: {waypoints}")
print(f"end: {end}")

start: (34.64, -120.46)
waypoints: [(34.76, -112.45), (32.83, -109.71)]
end: (29.36, -100.9)

In [9]:
fig = gmaps.figure()
       
travel = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode="DRIVING")
fig.add_layer(travel)

fig

Figure(layout=FigureLayout(height='420px'))

## Vacation Itinerary Map with Pop-up Marker

In [10]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in visiting_cities_df.iterrows()]

# gmaps with a marker layer for each city.
locations = visiting_cities_df[["Lat", "Lng"]]
max_temp = visiting_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))