# Chanllenge Part 3, Travel Itinerary

### Retrieve Vacation Cities set

In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np

In [2]:
# read back prepared city list
hotel_df = pd.read_csv("data\WeatherPy_vacation.csv")
hotel_df.head(2)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mataura,NZ,56.46,broken clouds,-46.19,168.86,Ellie's Villa
1,3,Bluff,NZ,55.44,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park

In [3]:
import gmaps
import gmaps.datasets
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# gmaps with a marker layer for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### choose visiting cities.

In [5]:
# these are the visiting cities
visiting_cities = ["Mayo", "Bethel", "Southbridge", "Yarmouth"]
visiting_cities

['Mayo', 'Bethel', 'Southbridge', 'Yarmouth']

### Create visiting cities DataFrame

In [6]:
visiting_cities_df = hotel_df.loc[hotel_df["City"] == visiting_cities[0]]
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[1]])
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[2]])
visiting_cities_df = visiting_cities_df.append(hotel_df.loc[hotel_df["City"] == visiting_cities[3]])
visiting_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
94,469,Mayo,US,57.99,clear sky,38.89,-76.51,Resorts Resource Group International
30,167,Bethel,US,53.60,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
52,276,Southbridge,US,52.00,clear sky,42.08,-72.03,Southbridge Hotel & Conference Center
48,266,Yarmouth,US,48.99,clear sky,41.71,-70.23,The Inn At Cape Cod

In [7]:
## a little formatting
visiting_cities_df.reset_index(inplace=True, drop=True)
visiting_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,469,Mayo,US,57.99,clear sky,38.89,-76.51,Resorts Resource Group International
1,167,Bethel,US,53.60,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
2,276,Southbridge,US,52.00,clear sky,42.08,-72.03,Southbridge Hotel & Conference Center
3,266,Yarmouth,US,48.99,clear sky,41.71,-70.23,The Inn At Cape Cod

## Vacation Travel Directional Map

In [8]:
def get_visiting_city_coord(idx):
    return (visiting_cities_df.at[idx, "Lat"], visiting_cities_df.at[idx, "Lng"])

start = get_visiting_city_coord(0)
waypoints = [get_visiting_city_coord(1), get_visiting_city_coord(2)]
end = get_visiting_city_coord(3)
print(f"start: {start}")
print(f"waypoints: {waypoints}")
print(f"end: {end}")

start: (38.89, -76.51)
waypoints: [(41.37, -73.41), (42.08, -72.03)]
end: (41.71, -70.23)

In [9]:
fig = gmaps.figure()
       
travel = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode="DRIVING")
fig.add_layer(travel)

fig

Figure(layout=FigureLayout(height='420px'))

## Vacation Itinerary Map with Pop-up Marker

In [11]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in visiting_cities_df.iterrows()]

# gmaps with a marker layer for each city.
locations = visiting_cities_df[["Lat", "Lng"]]
max_temp = visiting_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))