# Challenge Part 2, Vacation Cities Search  
Vacation_Search.ipynb

### Retrieve Cities set

In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np

In [2]:
city_weather_file = "data\WeatherPy_challenge.csv"

# read back prepared city list
city_data_df = pd.read_csv(city_weather_file)
city_data_df.head(2)

,City_ID,City,Country,Date,Lat,Lng,Weather,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Dauriya,RU,2020-02-23 22:11:41,49.93,116.87,clear sky,2.5,2.5,90,0,2.46,0.0,0.0
1,1,Rikitea,PF,2020-02-23 22:11:41,-23.12,-134.97,clear sky,79.2,79.2,70,0,6.13,0.0,0.0

### Preferred Cities Selections

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 60

In [4]:
input_return = input("Do you want it to be raining? (yes/no) ")
is_rain = (input_return.lower() == "yes")

Do you want it to be raining? (yes/no) no

In [5]:
input_return = input("Do you want it to be snowing? (yes/no) ")
is_snow = (input_return.lower() == "yes")

Do you want it to be snowing? (yes/no) no

In [6]:
print(f"Your preferred city temperatures are between {min_temp} and {max_temp} Fahrenheit.")
if (is_rain and is_snow):
    print(f"You want the weather to be either raining or snowing.")
elif is_rain:
    print(f"You want the weather to be raining.")        
elif is_snow:
    print(f"You want the weather to be snowing.")
else:
    print(f"You want the weather to be neither raining, nor snowing.")

Your preferred city temperatures are between 35.0 and 60.0 Fahrenheit.
You want the weather to be neither raining, nor snowing.

### filter

In [7]:
# temperature selection series (boolean)
temp_selected = (city_data_df["Min Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)

In [8]:
# rain / snow selection series (boolean)
if (is_rain and is_snow):
    rain_snow_selected = (city_data_df["Rain"] > 0.0) | (city_data_df["Snow"] > 0.0)
elif is_rain:
    rain_snow_selected = (city_data_df["Rain"] > 0.0)
elif is_snow:
    rain_snow_selected = (city_data_df["Snow"] > 0.0)
else:
    rain_snow_selected = (city_data_df["Rain"] <= 0.0) & (city_data_df["Snow"] <= 0.0)
rain_snow_selected[:3]

0    True
1    True
2    True
dtype: bool

In [9]:
# combine temperature selection and rain_snow selection, create preferred cities
preferred_cities_df = city_data_df.loc[temp_selected & rain_snow_selected]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Weather,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
2,2,Mataura,NZ,2020-02-23 22:11:41,-46.19,168.86,broken clouds,56.46,56.46,76,77,2.10,0.0,0.0
3,3,Bluff,NZ,2020-02-23 22:11:41,-46.60,168.33,broken clouds,55.44,55.44,75,66,5.08,0.0,0.0
4,4,Ville-Marie,CA,2020-02-23 22:11:41,47.33,-79.43,scattered clouds,37.40,37.40,69,40,11.41,0.0,0.0
12,12,Punta Arenas,CL,2020-02-23 22:11:43,-53.15,-70.92,broken clouds,55.40,55.40,62,75,31.09,0.0,0.0
15,15,Jackson,US,2020-02-23 22:08:06,42.42,-122.83,broken clouds,55.00,57.99,54,75,4.70,0.0,0.0
22,22,Port Elizabeth,ZA,2020-02-23 22:11:45,-33.92,25.57,clear sky,55.40,55.40,82,0,1.12,0.0,0.0
25,25,Dunedin,NZ,2020-02-23 22:11:45,-45.87,170.50,scattered clouds,56.26,56.26,78,46,3.38,0.0,0.0
30,30,Albany,US,2020-02-23 22:11:46,42.60,-73.97,clear sky,39.99,51.80,34,1,5.82,0.0,0.0
31,31,Ushuaia,AR,2020-02-23 22:11:47,-54.80,-68.30,overcast clouds,46.40,46.40,87,90,23.04,0.0,0.0
36,36,Waddan,LY,2020-02-23 22:11:48,29.16,16.14,clear sky,52.07,52.07,64,0,5.08,0.0,0.0

In [10]:
preferred_cities_df.count()

City_ID       111
City          111
Country       111
Date          111
Lat           111
Lng           111
Weather       111
Min Temp      111
Max Temp      111
Humidity      111
Cloudiness    111
Wind Speed    111
Rain          111
Snow          111
dtype: int64

## Create hotel DataFrame

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Weather", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(2)

      City Country        Weather  Max Temp    Lat     Lng Hotel Name
2  Mataura      NZ  broken clouds     56.46 -46.19  168.86
3    Bluff      NZ  broken clouds     55.44 -46.60  168.33

### GMaps Search hotels
one hotel is kept

In [12]:
# Dependencies and Setup
import requests
import gmaps
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#### another way to parse: convert json to df  
df = pd.json_normalize(hotels['results'])  
df.head(2)

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Print the beginning of the logging.
print("-----------------------------")
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the city for log.
    city = hotel_df.loc[index, "City"]
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"{city} Hotel not found... skipping.")
    except:
        print(f"{city} Other Errors... skipping.")

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Beginning Data Retrieval
-----------------------------
Albany Hotel not found... skipping.
Xingyi Hotel not found... skipping.
Murgab Hotel not found... skipping.
Shitanjing Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [14]:
hotel_df.count()

City          111
Country       111
Weather       111
Max Temp      111
Lat           111
Lng           111
Hotel Name    111
dtype: int64

In [15]:
hotel_df.head(2)

,City,Country,Weather,Max Temp,Lat,Lng,Hotel Name
2,Mataura,NZ,broken clouds,56.46,-46.19,168.86,Ellie's Villa
3,Bluff,NZ,broken clouds,55.44,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park

### GMap with pop-up marker layer

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather} and {Max Temp}Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a pop-up marker layer for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Save hotel DataFrame
re-format to be similar to sample

In [18]:
# rename weather to be "Current Descrition"
hotel_df.rename(columns = {'Weather':'Current Description'}, inplace = True) 

# match the column order
new_column_order = ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]

hotel_df = hotel_df[new_column_order]
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mataura,NZ,56.46,broken clouds,-46.19,168.86,Ellie's Villa
3,Bluff,NZ,55.44,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
4,Ville-Marie,CA,37.40,scattered clouds,47.33,-79.43,La Bannik
12,Punta Arenas,CL,55.40,broken clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
15,Jackson,US,57.99,broken clouds,42.42,-122.83,Agate Village Apartments

#### save in csv

In [19]:
# save in csv
hotel_df.to_csv("data\WeatherPy_vacation.csv", index_label="City_ID")